html {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

body, div#app {
  flex: 1 100%;
  display: flex;
  max-width: 100%;
}

div#main-container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
  max-width: 100%;
}

.FormPage {
  background-color: #fff;
  padding: 2rem;

  display: flex;
  flex-direction: column;
}
